<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="add.css">
    <link rel="shortcut icon" href="img.png" type="image/x-icon">
    <title>إضافة</title>
</head>

<body>
    <header>
        <a href="/">الصفحة الرئيسية</a>
        <br>
        <hr>
    </header>

    <form action="/" method="POST">
        <label for="name">الأسم</label><br>
        <input dir="rtl" class="text" type="text" id="name" name="name" required>

        <br><br>

        <label for="job">الوظيفة</label><br>
        <select class="text" type="text" id="job" name="job" required>
            <option value="مؤسس">مؤسس</option>
            <option value="مساعد مؤسس">مساعد مؤسس</option>
            <option value="إداري">إداري</option>
            <option value="إداري">مساعد إداري</option>
            <option value="صانع محتوى">صانع محتوى</option>
            <option value="مساعد صانع محتوى">مساعد صانع محتوى</option>
            <option value="مساعد مساعدين">مساعد مساعدين</option>
            <option value="محرر">محرر</option>
            <option value="مساعد محرر">مساعد محرر</option>
            <option value="________">________</option>

        </select>

        <br><br>

        <label for="pads">المنصه</label><br>
        <input dir="rtl" class="text" type="text" id="pads" name="pads">

        <br><br>

        <label for="nameChanel">أسم القناة</label><br>
        <input dir="rtl" class="text" type="text" id="nameChanel" name="nameChanel">

        <br><br>

        <label for="lastJob">الوضيفة القديمة</label><br>
        <select class="text" type="text" id="lastJob" name="lastJob" required>
            <option value="مؤسس">مؤسس</option>
            <option value="مساعد مؤسس">مساعد مؤسس</option>
            <option value="إداري">إداري</option>
            <option value="إداري">مساعد إداري</option>
            <option value="صانع محتوى">صانع محتوى</option>
            <option value="مساعد صانع محتوى">مساعد صانع محتوى</option>
            <option value="مساعد مساعدين">مساعد مساعدين</option>
            <option value="محرر">محرر</option>
            <option value="مساعد محرر">مساعد محرر</option>
            <option value="________">________</option>
            </select>

        <br><br>

        <label for="PhoneNum">رقم الجوال</label><br>
        <input dir="rtl" class="text" type="" id="PhoneNum" name="PhoneNum" required>

        <br><br>

        <label for="points">النقاط</label><br>
        <input dir="rtl" class="text" type="" id="points" name="points">

        <br><br>

        <label for="profits">الأرباح</label><br>
        <input dir="rtl" class="text" type="" id="profits" name="profits">

        <br><br>

        <button class="create">إضافة</button>
    </form>
</body>

</html>